python-telegram-bot==20.8
SQLAlchemy==2.0.25
reportlab==4.1.0
cryptography==42.0.2
httpx==0.26.0

# تثبيت إصدارات متوافقة ومجربة 100% تمنع خطأ الباندا والإكسل البنيوي
pandas==2.2.3
openpyxl==3.1.2
gspread
oauth2client
